<footer id="contactanos">
    <div class="footer">
      <h2 class="text-center">Contacts</h2>
      <p class="text-muted pb-4 text-center"></p>
      <div class="row mx-4">
        <div class="column col fond-color-white">
          <div class="d-flex align-items-center"><span class="material-icons"> phone </span><span>999999999</span></div>
          <div class="d-flex align-items-center"><span class="material-icons">facebook</span><span>example</span></div>
          <div class="d-flex align-items-center"><span class="material-icons">local_post_office</span><span>example@gmail.com</span></div>
        </div>
        <div class="col col-lg-2">
          <!-- Logo blanco y negro -->
          <img src="views/assets/image/map_apurimac.jpg" alt="logo_white" sizes="400" srcset="" class="footer-img">
        </div>
      </div>  
    </div>
</footer>