<!-- footer section  -->

<section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>Datos informes</h3>
          <a href="#"> <span class="material-icons"> phone </span><span>prof. Mauro: 953 744 203</span></a>
          <a href="#"> <span class="material-icons"> phone </span><span>prof. Elías: 978 004 592</span></a>
          <a href="#"> <span class="material-icons">facebook</span><span>Cersurteapurimac</span></a>
          <a href="#"> <span class="material-icons">local_post_office</span><span>Cersurteapurimac@gmail.com</span></a>
      </div>

      <div class="box">
          <h3>links rapidos</h3>
          <a href="?pg=page_sutep"> <i class="fas fa-arrow-right"></i> inicio</a>
          <a href="?pg=inscripcion_evento"> <i class="fas fa-arrow-right"></i> inscripción</a>
          <a href="?pg=speakers"> <i class="fas fa-arrow-right"></i> ponentes</a>
          <a href="?pg=transmision"> <i class="fas fa-arrow-right"></i> capacitación</a>
          <a href="?pg=certification"> <i class="fas fa-arrow-right"></i> certificado</a>
          <a href="?pg=page_sutep"> <i class="fas fa-arrow-right"></i> contáctos</a>
      </div>

      <div class="box">
          <h3>links extras</h3>
          <a href="#"> <i class="fab fa-facebook-f"></i> facebook</a>
          <a href="#"> <i class="fab fa-twitter"></i> twitter</a>
          <a href="#"> <i class="fab fa-instagram"></i> instagram</a>
          <!-- <a href="#"> <i class="fab fa-linkedin"></i> linkedin</a>
          <a href="#"> <i class="fab fa-pinterest"></i> pinterest</a> -->
      </div>

      <div class="box">
          <h3>Noticias cersutea</h3>
          <p>suscribete para actualizaciones</p>
          <form action="">
              <input type="email" name="" placeholder="ingresa tu email" id="">
              <input type="submit" value="Suscribirse" class="btn">
          </form>
      </div>

  </div>

</section>

<section class="credit">
  CERSUTEA 2022 | Todos los derechos reservados
</section>