<footer id="contactanos">
    <div class="footer">
      <p class="text-muted pb-4 text-center"></p>
      <div class="row mx-4">
        <div class="column col">
          <div class="d-flex align-items-center"><span class="material-icons"> phone </span><span>prof. Mauro: 953 744 203</span></div>
          <div class="d-flex align-items-center"><span class="material-icons"> phone </span><span>prof. Elías: 978 004 592</span></div>
          <div class="d-flex align-items-center"><span class="material-icons">facebook</span><span>Cersurteapurimac</span></div>
          <div class="d-flex align-items-center"><span class="material-icons">local_post_office</span><span>Cersurteapurimac@gmail.com</span></div>
        </div>
        <div class="col col-lg-2 mx-5">
          <!-- Logo blanco y negro -->
          <img src="views/assets/image/logo.png" alt="logo_white" sizes="400" srcset="" class="footer-img">
        </div>
      </div>
      <hr class="my-5">
      <div class="row align-items-center">
        <div class="col-md-6 small footer-copyright ">Copyright © Todos los derechos reservados Cersurtea 2022 desarrollado por <a href="#">rezuam</a></div>        <div class="col-md-6 text-end small footer-copyright">
            <a href="#!">Políticas de privacidad</a>
            ·
            <a href="#!">Terminos &amp; Condiciones</a>
        </div>
    </div>
    </div>
</footer>