  <div class="header-presentation">
      <div class="d-flex justify-content-between align-items-center mx-4 py-2">
        <img src="views/assets/image/mariategui.jpg" alt="Mariategui" sizes="50" srcset="" class="header-top rounded-circle">
        <div class="col-6 text-center">
          <h2>¡POR UNA LINEA SINDICAL CLASISTA!</h2>
          <h4>CER SURTEA</h4>
        </div>
        <img src="views/assets/image/mariategui.jpg" alt="Mariategui" sizes="50" srcset="" class="header-top rounded-circle">
      </div>
  </div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light font-weight-bold navbar-own px-4">
        <a class="navbar-brand font-color-vprimary" href="?pg=page_sutep"><b>SURTEA</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="?pg=page_sutep#capacitacion">Capacitación</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="?pg=inscripcion_evento">Inscripción</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="?pg=assistance">Asistencia</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="?pg=certification">Certificación</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="?pg=speakers" disabled>Eventos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="?pg=page_sutep#contactanos">Contactos</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a href="?pg=login" class="btn btn-secondary-own" role="button">Ingresar</a>
            <a href="?pg=usuario_registro" class="btn  btn-primary-own" role="button">Registrarse</a>
          </form>
        </div>
      </nav>
</header>
