<!-- NAVEGACION INVITADO - SISTEMA ADMINISTRADOR -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light font-weight-bold navbar-own px-4">
    <a class="navbar-brand font-color-vprimary" href="?pg=inicio"><b>SUTEP</b> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="?pg=page_sutep&d=itecfolder/Zb5CzbRI#S3kKL9gKEY6TKNxdnERKYQ">Web
            Sutep</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="?pg=info">Sobre</a>
        </li>
      </ul>
      <form class="d-flex">
        <a class="btn btn-outline-danger" href="?pg=salir_sistema">
          <i class="fas fa-power-off fa-1x"></i>
          <span class="px-2"> Salir</span>
        </a>
      </form>
    </div>
  </nav>
</header>