
<!-- header section starts  -->

<header class="header">

  <a href="home.html" class="logo"> <i class="fas fa-lightbulb"></i> CER SUTEA </a>

  <!-- <form action="" class="search-form">
      <input type="search" placeholder="search here..." id="search-box">
      <label for="search-box" class="fas fa-search"></label>
  </form> -->

  <div class="icons">
      <div id="menu-btn" class="fas fa-bars"></div>
      <!-- <div id="search-btn" class="fas fa-search"></div> -->
      <div id="login-btn" class="fas fa-user"></div>
      <!-- <div id="cart-btn" class="fas fa-shopping-cart"></div> -->
  </div>

</header>

<!-- header section ends  -->

<!-- closer btn  -->

<div id="closer" class="fas fa-times"></div>

<!-- navbar  -->

<nav class="navbar">
  <a href="?pg=page_sutep">Inicio</a>
  <a href="?pg=inscripcion_evento">Inscripción</a>
  <a href="?pg=speakers">Ponentes</a>
  <a href="?pg=transmision">Capacitación</a>
  <a href="?pg=certification">Certificado</a>
  <a href="?pg=page_sutep#contactanos">contactos</a>
</nav>

<!-- shopping cart  -->

<!-- <div class="shopping-cart">

  <div class="box">
      <i class="fas fa-times"></i>
      <img src="image/cart-img-1.jpg" alt="">
      <div class="content">
          <h3>morden furniture</h3>
          <span class="quantity"> 1 </span>
          <span class="multiply"> x </span>
          <span class="price"> $140.00 </span>
      </div>
  </div>

  <div class="box">
      <i class="fas fa-times"></i>
      <img src="image/cart-img-2.jpg" alt="">
      <div class="content">
          <h3>morden furniture</h3>
          <span class="quantity"> 1 </span>
          <span class="multiply"> x </span>
          <span class="price"> $140.00 </span>
      </div>
  </div>

  <div class="box">
      <i class="fas fa-times"></i>
      <img src="image/cart-img-3.jpg" alt="">
      <div class="content">
          <h3>morden furniture</h3>
          <span class="quantity"> 1 </span>
          <span class="multiply"> x </span>
          <span class="price"> $140.00 </span>
      </div>
  </div>

  <div class="box">
      <i class="fas fa-times"></i>
      <img src="image/cart-img-4.jpg" alt="">
      <div class="content">
          <h3>morden furniture</h3>
          <span class="quantity"> 1 </span>
          <span class="multiply"> x </span>
          <span class="price"> $140.00 </span>
      </div>
  </div>

  <h3 class="total"> total : <span>$560.00</span> </h3>

  <a href="#" class="btn">checkout cart</a>

</div> -->

<!-- login form  -->

<div class="login-form">

  <form action="">
      <h3>login form</h3>
      <input type="email" placeholder="enter your email" class="box">
      <input type="password" placeholder="enter your password" class="box">
      <div class="remember">
          <input type="checkbox" name="" id="remember-me">
          <label for="remember-me">remember me</label>
      </div>
      <input type="submit" value="login now" class="btn">
      <p>forget password? <a href="#">click here</a></p>
      <p>don't have an account? <a href="#">create now</a></p>
  </form>

</div>