:root{
    --color-header:#fff;
    --color-third: #daefed;
    --color-fond: #eff3fa;

    --color-font: #605c5c;
    --color-font-third: #17c3b2;

    --colo-one: #d4731c;
    --color-primary: rgba(220, 57, 45, 1);

}

.material-icons {
    padding: 0px 6px;
}

.form-img {
    position: absolute;
    right: 3rem;
    top: 2rem;
    width: 11rem;
}

/* Speakers */
.speaker-photo{
    height: 150px;
    width: 150px;
}



