.header-presentation {
    background: #dc392d;
    color: #fff;
}
header {
    position: sticky;
    top: 0;
    z-index: 5000;    
    box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0,0,0,0.03),0 0.275rem 0.75rem -0.0625rem rgba(0,0,0,0.06) !important;
}
.header-top {
    height: 140px;
}
.navbar-own {
    font-weight: 500;
    background-color: #fff;
}
.navbar-toggler-own{
    border: none;
    background-color: transparent;
    font-size: 1.25rem;
}
.slide-information>h2 {
    color: #dc392d;
}
.carousel-home {
    background-image: url(https://source.unsplash.com/faEfWCdOKIg/1500x900);
    position: relative;
}
.carousel-home::before {
    opacity: 0.8;    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
}
.carousel-home>.carousel-item>div {
    float: left;
    height: 430px;     
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.carousel-videos{
    background-color: #555858;
}
.page-header-content {
    color: #fff;
}
.container-event {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*
* Quitado para la nueva estructura de la página new 2022
* 
*/

/* styles footer*/
/* .footer {
    bottom: 0;
    padding: 56px;
    width: 100%;
    line-height: 40px;
    background-color: #000;
    border-top: 1px solid #55585838;
    color: rgba(255, 255, 255, 0.6);
  }

.footer-img {
    height: 120px;    
}
.footer-copyright a{
    color: #d4731c;
    text-decoration: none;
} */



.header-presentation-hide {
    display: none;
}
/* Speakers */
.speaker-photo{
    height: 150px;
    width: 150px;
    border: 1px solid rgba(96, 92, 92, .24)
}
.card-speakers {
    position: relative;
    /* box-shadow: 0px 2px 15px rgb(0 0 0 / 10%); */
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
.card-speakers> span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}
.card-speakers> span::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b5b3ba;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media(max-width: 690px) {
    .header-presentation {
        display: none !important;
    }
    .header-presentation-hide {
        display: block;
        margin-bottom: 40px;
    }
    nav {
        position: fixed !important;
        z-index: 99;
        width: 100%;
        top: 0;
        box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0,0,0,0.03),0 0.275rem 0.75rem -0.0625rem rgba(0,0,0,0.06) !important;
    }
    .container-slide {
        margin-top: 55px;
    }
}